# Groq API credentials
GROQ_API_URL=
GROQ_API_KEY=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
GROQ_MODEL_ID=llama-3.1-8b-instant

# Unsplash API key for fetching item images
UNSPLASH_API_KEY=_zcWUDq-otslq_p0zARXjj2buw7BqlKOatXBhrmJSXs


# If set to 1 or true, the app will require Groq to provide priced items or will raise an error.
FORCE_GROQ=0